<a href="https://colab.research.google.com/github/HeyAEE/weird-stats/blob/main/baseball_computer_Python_Notebook_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a Python notebook that runs for free in the cloud. Google will prompt you to copy the notebook to your own account and run it there.
The code will also work in a local Jupyter notebook.

In [ ]:
# Duckdb is a SQL engine that allows us to execute powerful, analytics-friendly
# queries against local or remote databases and flat files.
import duckdb
import pandas as pd

In [ ]:
# Create a database file on disk
conn = duckdb.connect('example.db')
# Enable remote access
conn.sql("INSTALL httpfs")
conn.sql("LOAD httpfs")
# This database file points to files totaling multiple GBs,
# but it's only about 300KB itself. The `ATTACH` command
# gives us access to views that sit on top of remote Parquet files.
try:
  conn.sql("ATTACH 'https://data.baseball.computer/dbt/bc_remote.db' (READ_ONLY)")
except duckdb.BinderException:
  # This command will fail if you run it more than once because it already exists,
  # in which case we don't need to do anything
  pass

conn.sql("USE bc_remote")
conn.sql("USE main_models")

In [ ]:
# Let's find season-level statistics for all pitchers and put it in a pandas DataFrame.
df: pd.DataFrame = conn.sql("SELECT * FROM metrics_player_season_league_pitching").df()
df

,player_id,season,league,batters_faced,outs_recorded,inherited_runners_scored,bequeathed_runners_scored,team_unearned_runs,at_bats,hits,...,stolen_base_attempt_rate_home,unforced_out_rate,pitch_strike_rate,pitch_contact_rate,pitch_swing_rate,pitch_ball_rate,pitch_swing_and_miss_rate,pitch_foul_rate,pitched_called_strike_rate,pitch_data_coverage_rate
0,billj101,1978,AL,857.0,605,0.0,0.0,0.0,768.0,218,...,NaN,0.018692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,mongs001,1978,AL,373.0,254,0.0,0.0,0.0,316.0,71,...,NaN,0.014599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,kinnd101,1978,AL,164.0,116,0.0,0.0,1.0,143.0,37,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,medid101,1978,AL,716.0,513,0.0,0.0,0.0,650.0,166,...,1.0,0.034884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,matlj101,1978,AL,1097.0,810,0.0,0.0,0.0,1027.0,252,...,NaN,0.021563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50112,ewinb102,1906,NL,1137.0,858,NaN,NaN,NaN,NaN,258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50113,caldr102,1904,NL,184.0,123,NaN,NaN,NaN,NaN,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50114,lewid101,1913,AL,6.0,3,NaN,NaN,NaN,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50115,mcbrd101,1876,NL,155.0,99,NaN,NaN,NaN,NaN,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50116,bondt101,1881,NL,113.0,76,NaN,NaN,NaN,NaN,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check out the docs to see all of the queryable tables:
https://docs.baseball.computer/